<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

    <div class="container">
        <div class="row">

            <div class="page-header">
                <h1>What do you think?</h1>
            </div>

            <div class="col-sm-12">
                <a href="mailto:redwylie@gmail.com?subject=redwylie.com feedback"> redwylie at gmail dot com </div>
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

