<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<div class="container-fluid">

		<div class="container">

			<div class="row">
				<div class="page-header">
					<h1>Categories</h1>
				</div>
			</div><!-- .row -->

			<div class="row-fluid">

				{% for category in categories %}
					{% include 'common/card.html' with {'view':'categories'} %}
				{% endfor %}

				<!--{{cards}}-->
				{% if name is empty %}
				{% set name = "test" %}
				{% endif %}

			</div><!-- .row -->
		</div><!-- .container -->

	</div><!-- .container -->

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>