<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
					<h1><a class="btn btn-link btn-back" href="index.php" title="back to portfolio"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> {{categoryTitle}}</h1>
				</div>
			</div><!-- .col -->

			{% if categoryTitle == 'Large Format' %}
			<div class="col-sm-8">
				<p>These large format high resolution photos are taken with a Cambo 4x5 view camera with a custom made back in development by <a href="http://www.maxotics.com" target="_blank">Maxotics</a>. The digitiler back allows the capture of up to 49 images (a 7x7 grid across the film plane) with a full frame 35mm digital sensor. The 49 images are stitched together resulting in photographs with a native resoultion of 150-700 megapixels.  A 400 megapixel image could be printed at 90 inches by 50 inches at 300 DPI. The current challenges of this method include: The need for your subject to be still for 60 seconds, sensor dust, raw file sizes in the gigabytes, retouching these large files, and the web zoom viewer creation process modifying the colors somewhat. </p>
				<br/>
			</div><!-- .col -->
			{% endif %}
			
		</div><!-- .row -->

		<div class="row">

			{% for image in images %}
				{% include 'common/card.html' with {'view':'photo'} %}
			{% endfor %}

		</div><!-- .row -->
	</div><!-- .container -->

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>