<!doctype html>

<head>

{% include 'common/meta.html' %}
{% include 'common/styles.html' %}

</head>
<body>

	{% include 'common/nav.html' with {'foo': 'bar'} %}


	<div class="jumbotron">
		<div class="container">
			<h1></h1>
 		</div><!-- .container -->
	</div><!-- .jumbotron -->

	<div class="container-fluid">

		<div class="container-fluid">
			<div class="row-fluid">

				{% for image in images %}
					{% if image.viewOnHome %}
					<div class="col-sm-6 col-md-4">
						<a href="photo.php?photo={{image._id}}">
						{% if image.site == 'redwylie' %}
							<div class="card" data-content="{{image.title}}" style="background-image: url('{{image.folder}}/thumbnail.jpg')"></div><!-- .card -->
						{% else %}
							<div class="card" data-content="{{image.title}}" style="background-image: url('http://www.digitiler.com/{{image.folder}}/thumbnail.jpg')"></div><!-- .card -->
						{% endif %}
						</a>
					</div><!-- .col -->
					{% endif %}
				{% endfor %}

			</div><!-- .row -->
		</div><!-- .container -->

	</div><!-- .container -->

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}


</body>
</html>

