<!doctype html>

<head> 
   {% include 'common/meta.html' %}
   {% include 'common/styles.html' %}
</head>

<body class="page-photo">
   <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html'%}

	<div class="container-fluid">
		<div class="row row-photo">
			<div class="col-xs-1 hidden-xs">
				<a class="btn btn-link btn-nav" onclick="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			</div><!-- .col -->
			<div class="col-xs-12 col-sm-10 text-center">
				<img src="{{photo.folder}}/photo.jpg" class="full-image" />
			</div><!-- .col -->
			<div class="col-xs-1 hidden-xs">
				<a class="btn btn-link btn-nav" onclick="goBack()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container -->

	<div class="container-fluid visible-xs">
		<div class="row">
			<div class="col-xs-6 text-center">
				<a class="btn btn-link btn-nav" onclick="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			</div><!-- .col -->
			<div class="col-xs-6 text-center">
					<a class="btn btn-link btn-nav" onclick="goBack()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
				</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container -->

	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}
	
</body>
</html>