<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

    <div class="container">
        <div class="row">

            <div class="col-sm-9">

                <div style="display: none">
                    <img src="assets/images/logos/redwylie-logo-red-cmyk.png" class="img-responsive" />
                </div>
            
                <div class="page-header">
                    <h1>Your Headshot / Portrait Session </h1>
                </div>
            </div><!-- .col -->

            <div class="col-sm-9 session">

                <p>Thanks so much for coming for a headshot or portrait session. This page will let you know a little about what to expect.</p> 

                <h2>Where to go</h2>
                <p>The session will take place at my home studio in Jamaica Plain, about a 5 minute walk from the Green St T stop. If you are driving, there is lots of parking space in front of our house. Address will be sent to you via email or facebook messenger.</p>

                <h2>How long will it take</h2>
                <p>Please plan on 2 hours for a headshot session. Portrait sessions will generally be 3 1/2 hours. I like to begin by briefly going over the plan, giving you a chance to ask any questions, and you can let me know about any ideas you might have for our your portraits. If you have a special idea, feel free to let me know beforehand. </p>

                <hr/>

                <h2>What to bring</h2>

                <h3>Clothing</h3>
                <p>Please bring at least 2-3 shirts/tops, preferably solid colors. Avoid busy patterns and flesh-colored tops. Everything from t-shirts, tank tops to sweaters and light jackets can work. If you have any doubts, bring the items along and we can decide together.  If you are hoping to use one of the photos in a professional capacity, bring at least one shirt with a collar and/or a blazer. Be sure you really like the clothing you bring, as you will want to feel and look comfortable.  Portraits will likely include full length shots, so also remember to bring a few options of pants and shoes.</p>

                <h3>Jewelry</h3>
                <p>For headshots, please keep jewelry very simple - studs, small earrings, and simple necklaces.  Anything hanging, big, or shiny will take attention away from you.</p>

                <hr/>

                <h2>Hair</h2>
                <h3>Women</h3>
                <p>We ask that everyone come in with their hair ready the way you would like to present yourself. We want your hair in your pictures to be as close as possible to the way you look on a good hair day. You are really in charge here because hair is such a personal thing and we want you to feel like yourself, so please feel free to guide us in how you'd like it to look. If you'd like, feel free to bring whatever styling products you need in order to handle creating your look. Also make sure you bring a hair tie.</p>

                <h3>Men</h3>
                <p>For the guys who grow decent scruff or feel you might want some shots with some facial hair, you can come in with a some growth and we'll shoot until we feel we've gotten it covered and then you can shave, so bring your razor, etc. If you want to fix your hair before or during the shoot, don’t forget to bring your styling products.</p>
                <hr/>

                <h2>Makeup</h2>
                <p>If you would like to wear makeup, please stay true to yourself. For headshots, you want a clean, natural look, not overly glam or sexy.</p>  

                <p>Moisturize to avoid dry patches, especially under the hot studio lights.  Avoid ingredients which cause flashback, including titanium dioxide, zinc oxide, and silica powder. </p>

                <p>Here are two articles which you may find helpful:</p>
                <ul>
                    <li><a href="http://beaupix.com/headshot/resources/headshot-makeup/" target="_blank"> http://beaupix.com/headshot/resources/headshot-makeup/</a></li>
                    <li><a href="http://www.clickinmoms.com/blog/11-makeup-tips-every-photographer-should-know/" target="_blank">http://www.clickinmoms.com/blog/11-makeup-tips-every-photographer-should-know/ </a></li>
                </ul>

                <hr/>

                <h2>During the session</h2>
                <p>We will take around 100 photos or so.  We will review the photos together briefly as we work.</p>

                <h2>At the end of the session</h2>
                <p>We will pick the images you like from the session, and I will post those proofs to a private album online and provide you with a link.</p>

                <h2>After the session</h2>
                <p>You can share the private photo album with friends and family, and pick your two favorites. You can take a few days to pick your favorites. Once you let me know the filenames of your two picks, I will personally edit those photos to really make them sing. You will then have two high-resolution digital photographs to use as you like. Additonal photo retouching can be requested at an additional cost.</p>

                <hr/>

                <h2>Miscellaneous</h2>
                <p>We have a very sweet old golden retriever named Bodhi. Let me know if you have an allergy otherwise she likes to hang out during the session.</p>

                <br/><br/>

                <p>Thanks<br/>
                -Mark 'Red' Wylie</p>

                <br/><br/>
                

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    <div class="modal fade" id="womensModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Women's Shirts</h4>
                </div>
                <div class="modal-body">
                    <p><img src="assets/images/logos/redwylie-logo-red-cmyk.png" class="img-responsive" /></p>
                    <p>You may already know what style suits you best, but it is worth reflecting on what options are available. Perhaps you haven't tried alternative styles that may actually be more flattering.</p>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

