<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

   <nav class="navbar navbar-inverse navbar-breadcrumbs navbar-static-top" style="display: none">
        <div class="container">
            <div class="navbar-header">
                <ol class="breadcrumb">
                    <li><a href="index.php">Portfolio</a></li>
                    <li class="active">Rates</li>
                </ol> 
            </div>
        </div><!-- ./container -->
    </nav>

    <div class="jumbotron jumbotron-session jumbotron-rates">
        <div class="container">
                <h1>Session Rates</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <h2>Headshot Sessions:</h2>
            </div><!-- .col -->

            <div class="col-sm-8 session">

                <p>Headshot session rate is $300 for the shoot. <!-- There is a $150 deposit* required to book a session, this is non-refundable and goes towards the $300 total. --></p>
                <p>There is also a discounted fee for kids 16 and under or returning clients of $200. <!-- There is a $100 deposit* required to book a session, this is non-refundable and goes towards the $200 total. --></p>

            </div><!-- .col -->
            <div class="col-xs-6 col-sm-2">
                <img src="photos/2017/02-February/2017-02-11/stephanie-1/photo.jpg" class="img-responsive">
            </div><!-- .col -->
            <div class="col-xs-6 col-sm-2">
                <img src="photos/2017/03-March/2017-03-08/neal-2/photo.jpg" class="img-responsive">
            </div><!-- .col -->
        </div><!-- .row -->

        <hr/>

        <div class="row">

             <div class="col-sm-12">
                <h2>Portrait and Headshot Sessions:</h2>
            </div><!-- .col -->

            <div class="col-sm-8 session">

                <p>Portrait and Headshot session rate is $500 for the shoot. <!-- There is a $250 deposit* required to book a session, this is non-refundable and goes towards the $500 total. --></p>
                <p>There is also a discounted fee for kids 16 and under or returning clients of $300.</p> 

            </div><!-- .col -->
            <div class="col-xs-6 col-sm-2">
                <img src="photos/2017/01-January/2017-01-06/steven-3/photo.jpg" class="img-responsive">
            </div><!-- .col -->
            <div class="col-xs-6 col-sm-2">
                <img src="photos/2017/03-March/2017-03-01/fiona-2/photo.jpg" class="img-responsive">
            </div><!-- .col -->
        </div><!-- .row -->
        
        <hr/>


        <div class="row">
            <div class="col-sm-8 session">

            <h2>Included with each session:</h2>

            <p>Headshot sessions include retouching of 2 files. 
            <br/>Portrait with Headshot sessions include retouching of 4 files.</p>

            <p>Additonal photo retouching can be requested at an additional cost of $60 per photo.</p>
            <p>You may also elect to purchase a full buyout of the entire session for $200. If you choose this option, you will receive retouching of 2 to 4 files and all the remaining photos unretouched in camera RAW format, along with jpgs.</p>
            </div><!-- .col -->
        </div><!-- .row -->

        <hr/>

        <div class="row">
            <div class="col-sm-8 session">

                <h2>Scheduling</h2>
                <p>I am avaliable Monday through Friday evenings beginning at 7:00 pm, as well as Saturday and Sunday between 10:00 am and 7:00 pm.</p>

                <hr/>

                <p>Be sure to review the <a href="session.php">details</a> to help you get an idea about the photo sessions.</p>

                <br/>

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

