<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

    <div class="container">
        <div class="row">

            <div class="page-header">
                <h1>Rates</h1>
            </div>

            <div class="col-sm-9 session">

           <h2>Headshot Sessions:</h2>

            <p>Headshot session rate is $300 for the shoot. <!-- There is a $150 deposit* required to book a session, this is non-refundable and goes towards the $300 total. --></p>

            <h2>Discounted students, kids & returning clients headshot rates:</h2>
            <p>There is also a discounted fee for kids 16 and under or returning clients of $200. <!-- There is a $100 deposit* required to book a session, this is non-refundable and goes towards the $200 total. --></p>

            <hr/>

            <h2>Portrait session:</h2>

            <p>Portrait session rate is $500 for the shoot. <!-- There is a $250 deposit* required to book a session, this is non-refundable and goes towards the $500 total. --></p>
            <p>Returning clients or kids 16 and under get $200 off the session fee.</p> 

            <hr/>

            <h2>Scheduling and Payments</h2>
            <p>I am avaliable Monday through Friday evenings beginning at 7:00 pm, as well as Saturday and Sunday between 10:00 am and 7:00 pm.</p>

            <hr/>

            <p>Be sure to review the <a href="session.php">details</a> to help you get an idea about the photo sessions.</p>

            <br/>

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

