<!doctype html>

<head>
    {% include 'common/meta.html' %}
    {% include 'common/styles.html' %}
</head>
<body>
    <?php include_once("analyticstracking.php") ?>
   {% include 'common/nav.html' %}

    <div class="container">
        <div class="row">

            <div class="page-header">
                <h1>Your Portrait Session </h1>
            </div>

            <div class="col-sm-9 session">

                <p>Thanks so much for coming for a portrait session. I am just starting to offer portraits, and hopefully this document will let you know a little about what to expect.</p>

                <h2>Where to go</h2>
                <p>The session will take place at my home studio in Jamaica Plain, about a 5 minute walk from the Green St T stop. If you are driving, there is lots of parking space in front of our house.
                </p>
                <h2>How long will it take</h2>
                <p>Please plan on 2 to 3 hours for our session. I like to begin by briefly going over the plan, giving you a chance to ask any questions and you can let me know about any ideas you might have for our your portraits. If you have a special idea, feel free to let me know beforehand.</p>

                <h2>What to bring</h2>
                <p>Please bring at least 2-3 shirts/tops, preferably solid colors. Please avoid busy patterns and flesh color tops.  Everything from t-shirts, tank tops to sweaters and light jackets can work. If you are hoping to use one of the photos in a professional capacity, you might want to bring at least one shirt with a collar.  Be sure you really like the clothing you bring, you will want to feel and look comfortable.</p>

                <p>Please keep jewelry very simple, studs or small earrings work and simple necklaces, anything hanging or big will take attention away from you.</p>

                <h2>Makeup</h2>
                <p>If you would like to wear makeup, please use it very sparingly. 
                    I’ve found that liquid foundation can dry unevenly very quickly under the lights. In my experience any issues with uneven skin tone can be worked out easier with photoshop without also needing to retouch uneven areas of dry foundation.</p>

                <h2>During the session</h2>
                <p>We may take up to 100 photos or more, using a few different lighting setups and hopefully have a lot of fun. We will review the photos together briefly as we work.</p>

                <h2>At the end of the session</h2>
                <p>We will pick your likes and loves from the session, and I will post those proofs to a private album on Flickr and send you a link.</p>

                <h2>After the session</h2>
                <p>You can share that link with friends and family and pick your two to three favorites, you can take as much time and as many days as you would like to pick your favorites. Once you let me know the filenames of your picks, I will retouch/edit those photos to really make them sing. It takes about an hour to retouch each photo, so I might need a few days to finish them up. You will then have a few high resolution digital photographs to use as you like.</p>

                <h2>Miscellaneous</h2>
                <p>My recent work, study and studio space is set up primarily for individual portraits and head shots. I will consider family/group shots on an individual basis as I gain more confidence and experience working with groups.</p>

                <p>We also have a very sweet old golden retriever named Bodhi. Let me know if you have an allergy otherwise she likes to hang out during the session.</p>

                <br/><br/>

                <p>Thanks<br/>
                -Mark</p>

                <a href="mailto:redwylie@gmail.com?subject=redwylie.com feedback"> redwylie at gmail dot com </div>

                <br/><br/>

            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->

    {% include 'common/footer.html' %}
    {% include 'common/scripts.html' %}
    {% include 'common/tracking.html' %}

</body>
</html>

