<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body class="page-set">
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<nav class="navbar navbar-inverse navbar-breadcrumbs navbar-static-top">
        <div class="container">
            <div class="navbar-header">
             	<ol class="breadcrumb">
			  		<li><a href="index.php">Portfolio</a></li>
			  		<li><a href="category.php?category={{categoryTitle}}">{{categoryTitle}}</a></li>
			  		<li class="active">{{setTitle}}</li>
				</ol> 
            </div>
        </div><!-- ./container -->
    </nav>

	<div class="container">
		<div class="row">

			<div id="gallery" class="justified-gallery">
				{% for image in images %}
				{% if image.hide != true %}
					<a href="photo.php?photo={{image._id}}" class="link">
						<img src="{{image.folder}}/thumbnail.jpg" class="img-responsive" />
						<div class="caption">{{ image.title }}</div>
					</a>
				{% endif %}
				{% endfor %}
			</div>

		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

	<script type="text/javascript">
		$('#gallery').justifiedGallery({
	    	rowHeight : 370,
	    	lastRow : 'nojustify',
	   		margins : 3,
	   		captions : true
		});
	</script>

</body>
</html>