<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}


	<div class="jumbotron jumbotron-sets">
		<div class="container">
			<h1>Sets</h1>
 		</div><!-- .container -->
	</div><!-- .jumbotron -->

	<div class="container">

		<div class="row">

			{% for category in categories %}
				{% include 'common/card.html' with {'view':'sets'} %}
			{% endfor %}

			<!--{{cards}}-->
			{% if name is empty %}
			{% set name = "test" %}
			{% endif %}

		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>