.jumbotron.jumbotron-categories {
    height: 400px;
    //background-image: url('../../../../assets/images/jumbotron/sunflower.jpg');
    background-image: url('../../../../photos/2016/11-November/2016-11-01/wave_1/photo.jpg');
    background-size: cover;
    background-position: top;
    background-color: #222;
    margin-bottom: 25px;
    
    
    h1 {
        color: $white;
        font-size: 90px;
        font-weight: 200;
    }
}

.jumbotron.jumbotron-session {
    height: 300px;
    //background-image: url('../../../../assets/images/jumbotron/sunflower.jpg');
    background-image: url('../../../../photos/2016/11-November/2016-11-01/macro_2/photo.jpg');
    background-size: cover;
    background-position: top;
    background-color: #222;
    margin-bottom: 25px;
    
    
    h1 {
        color: $white;
        font-size: 70px;
        font-weight: 200;
    }
}

.jumbotron.jumbotron-rates {
    background-image: url('../../../../photos/2016/11-November/2016-11-01/macro_1/photo.jpg');
}

@media (max-width: $screen-xs-max) {
   .jumbotron.jumbotron-categories {
        display: none;
    }

    .jumbotron.jumbotron-session {
        height: 120px;
        padding-top: 10px;

        h1 {
            font-size: 25px;
        }

        margin-bottom: 0px;
    }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .jumbotron.jumbotron-categories {
        height: 220px;

        h1 {
            font-size: 75px;
        }
    }

    .jumbotron.jumbotron-session {
        height: 220px;
        padding-top: 20px;

        h1 {
            font-size: 65px;
        }
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .jumbotron.jumbotron-categories {

        height: 230px;

        h1 {
            font-size: 90px;
        }
    }
}