@import "../../../../../siteassets/styles/redwylie/scss/global";

@import "variables/colors";
@import "variables/variables";

@import "cards";
@import "jumbotron";

h3 {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 300;
}