<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-7 col-sm-8">
				<p class="text-muted">
					<a href="tel:+1-508-257-1575" class="btn btn-link"><span class="hidden-xs"><i class="fa fa-phone" aria-hidden="true"></i></span> 508.257.1575</a>
					&bull;
					<a href="https://m.me/marklwylie" class="btn btn-link"><i class="fa fa-comments" aria-hidden="true"></i></a>
					&bull;
					<a href="#" data-toggle="modal" data-target="#emailModal" class="btn btn-link"><i class="fa fa-envelope" aria-hidden="true"></i></a>
				</p>
			</div><!-- .col -->
			<div class="col-xs-5 col-sm-4 text-right">
				<p class="text-muted"><span class="hidden-xs">images</span> &copy; <span id="year">2017</span> Mark Wylie</p>
			</div><!-- .col -->
		</div>
	</div><!-- .container -->
</footer>

 <div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Contact</h4>
            </div>
            <div class="modal-body">
            	<p>If you would like to contact me via email please use</p> 
            	<h4>redwylie at gmail dot com</h4>
                 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->