<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="PRAGMA" content="NO-CACHE" />
<meta http-equiv="EXPIRES" content="0" />
<meta http-equiv="cleartype" content="on" />
<link rel="shortcut icon" href="assets/images/favicons/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="assets/images/favicons/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="assets/images/favicons/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="assets/images/favicons/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="assets/images/favicons/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16.png">
<link rel="apple-touch-icon" href="assets/images/favicons/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="assets/images/favicons/favicon-144.png">
<meta name="msapplication-config" content="assets/images/favicons/browserconfig.xml">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="keywords" content="mark wylie,wylie,red wylie,redwylie,redwylie.com,redwylie photos, red wylie photography,mark wylie photography, wylie photography,wylie photos,photography,digital photography, high resolution,high resolution photography,focus stacking, stacked shots,nikon,cambo,large format,large format photography, photos,large format photos, 4x5,cambo legend, digitiler, markwylie, boston, boston ma">
<meta name="author" content="Mark Wylie">