<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta http-equiv="PRAGMA" content="NO-CACHE" />
<meta http-equiv="EXPIRES" content="0" />
<meta http-equiv="cleartype" content="on" />
<link rel="icon" th:href="@{/assets/images/favicon.ico}" sizes="32x32" type="image/png" />
<title>{{ title }}</title>