 <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php">
                    <img src="assets/images/logos/redwylie-logo-red-black-cmyk.png" class="img-responsive" style="display: none" />
                    <img src="assets/images/logos/redwylie-logo-red-white-cmyk.png" class="img-responsive" />
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php">Portfolio</a></li>
                    <li><a href="session.php">Your Session</a></li>
                    <li><a href="rates.php">Rates</a></li>
                    <li class="xs-one-line"><a href="https://www.instagram.com/redwylie/" title="redwylie instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
                    <li class="xs-one-line"><a href="http://fb.me/redwyliephotography " title="marklwylie on facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- ./container -->
    </nav>