<footer class="footer zoom-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-9">
				<p class="text-muted">
					{% if photo.externalURL %}
						<a href="{{photo.externalURL}}" target="_blank"> 
							{{photo.title}} 
						</a>
					{% else %}
						{{photo.title}}
					{% endif %}
					{% if image.digitiler %}
					&bull; 
					<span id="photoMegapixels"></span>	
					{% endif %}
				</p>
			</div><!-- .col -->
			<div class="col-xs-3 text-right">
				<p class="text-muted">&copy; <span id="year">2017</span> Mark 'Red' Wylie</p>
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container -->
</footer>