a.link:hover {
    text-decoration: none;
}

.card {
	height: 288px;
	width: 100%;
	background-size: cover;
	cursor: pointer;
	background-position: center;
	background-color: $gray-one-shadow;
	// display: flex;
	// align-items: center; 
	// justify-content: center;
	margin-bottom: 25px;
	border: 2px solid $white;
    text-align: center;
    color: $white;
    position: relative;

	h1 {
		font-size: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 18px;
        z-index: 1;
        position: relative;
	}

    small {
        z-index: 1;
        position: relative;
    }

}



.card .inner {
	margin-top: 120px;
    display: none;
}

.category-link {

    .card {

        height: 400px;

        .inner {
            height: 80px;
            margin-top: 316px;
            width: 100%;
            display: block;
            background: rgba(0,0,0,.5);

            h1 {
                position: relative;
                top: 30px;
            }
        }
    }
}

.card:hover {
	border: 2px solid $blue-one-highlight;

    .inner {
        display: block;
    }

}

.card:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    top: 0;
    left: 0;
    position: absolute;
}

.card:hover:after {
    opacity:1;
}

@media (max-width: $screen-xs-max) {
   
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    
    .card {
        height: 276px;
    }

    .category-link {

        .card {

            height: 268px;

            .inner {
                height: 80px;
                margin-top: 184px;

            }
        }
    }

}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .card {
        height: 234px;
    }
}

@media (min-width: $screen-lg-min) {
    
}