a.link:hover {
    text-decoration: none;
}

.card {
	height: 270px;
	width: 100%;
	background-size: cover;
	cursor: pointer;
	background-position: center;
	background-color: $gray-one-shadow;
	// display: flex;
	// align-items: center; 
	// justify-content: center;
	margin-bottom: 25px;
	border: 2px solid $white;
    text-align: center;
    color: $white;
    position: relative;

	h1 {
		font-size: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 18px;
        z-index: 1;
        position: relative;
	}

    small {
        z-index: 1;
        position: relative;
    }

}

.card .inner {
	margin-top: 120px;
    display: none;
}

.category-link {

    .card {

        .inner {
            height: 60px;
            margin-top: 206px;
            width: 100%;
            display: block;
            background: rgba(0,0,0,.5);

            h1 {
                position: relative;
                top: 20px;
            }
        }
    }
}

.card:hover {
	border: 2px solid $blue-one-highlight;

    .inner {
        display: block;
    }

}

.card:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.5);
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    top: 0;
    left: 0;
    position: absolute;
}

.card:hover:after {
    opacity:1;
}