footer {
    .btn {
        color: #777
    }
}

.zoom-footer {
    height: 30px;
}

@media (max-width: $screen-xs-max) {
    footer {
        font-size: 10px;
    
        .btn {
           font-size: 10px;
           padding: 0px 0px; 
        }
    }
}