.full-image {
	max-width:80%;
	max-height:80%;
	height: auto;
	width:auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: $screen-xs-max) {
 	.col-card {
 		padding-left: 1px;
 		padding-right: 1px;
 	}

}